#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size: large;
}

.form-item {
  display: flex;
  gap: 22px;
  align-items: center;
  margin-top: 12px;
}

label {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
}

textarea {
  padding: 8px;
  border-radius: 5px;
}